body {
  background-color: black;
  color: white;
}

.to-do-list {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  background-color: rgb(51, 236, 51);
}

.delete-button {
  background-color: red;
}

.move-button {
  background-color: rgb(127, 123, 118);
}

.move-button,
.delete-button {
  margin: 10px 20px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
}

ol {
  padding: 0;
}

li {
  border: 2px solid white;
  padding: 20px;
  width: 80%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.text {
  font-size: 2rem;
}

@media (max-width: 550px) {
  .text {
    font-size: 1rem;
  }
  li {
    width: 70%;
    flex-direction: column;
    padding: 10px 5px;
  }
  .move-button,
  .delete-button {
    width: 25%;
    font-size: 0.8rem;
    margin: 0 10px;
  }
  .buttons {
    width: 100%;
  }
}

/* Add this CSS to your stylesheet or in the same file using styled-components or similar */
@keyframes fadeOut {
  from {
    background-color: white;
  }
  to {
    background-color: red;
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1s forwards;
}
